<!DOCTYPE html>
<html>
<head>
	<title>C Programming Quiz</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<h1>C Programming Quiz</h1>
    <h2>Instructions</h2>
    <p>Read each question thoroughly before selecting your answer.
        Answer all questions to the best of your ability. Be mindful of the time limit for each question and the overall quiz duration. Double-check your answers before submitting, as you may not be able to revise them afterward. Stay focused and avoid distractions during the quiz. If you encounter any technical issues, reach out to our support team immediately.
        Good luck, and enjoy the quiz experience!</p>
	<div id="quiz-container">
		<div id="question-container">
			<p id="question"></p>
			<ul id="options">
				<li><input type="radio" id="option1" name="option"><label for="option1"></label></li>
				<li><input type="radio" id="option2" name="option"><label for="option2"></label></li>
				<li><input type="radio" id="option3" name="option"><label for="option3"></label></li>
				<li><input type="radio" id="option4" name="option"><label for="option4"></label></li>
			</ul>
			<button id="submit-btn">Submit</button>
		</div>
		<div id="result-container">
			<p id="result"></p>
		</div>
	</div>

	<script src="script.js"></script>
</body>
</html>